<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://103.68.240.186:8888</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SqlConnectionStringCardChargingBiz" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=123.29.68.132;Port=3306;Database=vmg_card;Uid=gc_report;Pwd=Cardreports12;CharSet=utf8;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionStringCardChargingBiz_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=123.29.68.132;Port=3306;Database=vmg_card;Uid=gc_report;Pwd=Cardreports12;CharSet=utf8;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionStringCardCharging" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=192.168.75.154;Port=3306;Database=gatecard;Uid=gc_report;Pwd=CardRep0rt;CharSet=utf8;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionStringCardCharging_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=192.168.75.154;Port=3306;Database=gatecard;Uid=gc_report;Pwd=CardRep0rt;CharSet=utf8;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionStringHQReport" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=103.68.240.186;database=HQ.REPORT;uid=HQ;pwd=HQ112233445566;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionStringHQReport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=103.68.240.186;database=HQ.REPORT;uid=HQ;pwd=HQ112233445566;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionStringUnitel" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=183.182.100.135;database=langtrieuphu;uid=ptdv;pwd=LTPptdv123;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionStringUnitel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=183.182.100.135;database=langtrieuphu;uid=ptdv;pwd=LTPptdv123;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionString_168_1" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=123.29.68.136 ;database=TTND_Services;uid=ttndservices;pwd=ttND53r7vice$;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionString_168_1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=123.29.68.136 ;database=TTND_Services;uid=ttndservices;pwd=ttND53r7vice$;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionStringCcare" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DATA_CUSTOMER;User Id=dbuser;Password=O3uVMG@$#;Pooling=true;Min Pool Size=0;Max Pool Size=99;Connection Lifetime=0;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionStringCcare_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DATA_CUSTOMER;User Id=dbuser;Password=O3uVMG@$#;Pooling=true;Min Pool Size=0;Max Pool Size=99;Connection Lifetime=0;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionString_56_1" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=123.29.67.56 ;database=ContentPortal;uid=cportal;pwd=cportal123cportal;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionString_56_1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=123.29.67.56 ;database=ContentPortal;uid=cportal;pwd=cportal123cportal;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionString_87_1" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=125.212.225.87 ;database=db8979;uid=db9029;pwd=Db9o29VmG#@!;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionString_87_1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=125.212.225.87 ;database=db8979;uid=db9029;pwd=Db9o29VmG#@!;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionString_177" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=123.29.69.177;database=VMG_Portal;uid=portal;pwd=portal!@#;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionString_177_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=123.29.69.177;database=VMG_Portal;uid=portal;pwd=portal!@#;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionString_204" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=123.29.67.204;database=NotifyBilling;uid=NotifyBilling;pwd=Vmg!@#$%^;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionString_204_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=123.29.67.204;database=NotifyBilling;uid=NotifyBilling;pwd=Vmg!@#$%^;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnectionString" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=103.68.240.186;database=HQ;uid=HQ;pwd=HQ112233445566;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=103.68.240.186;database=HQ;uid=HQ;pwd=HQ112233445566;MultipleActiveResultSets=True;Pooling=true;Min Pool Size=0; Max Pool Size=10000000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionStringCardCharging-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionStringCardChargingBiz-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionStringCcare-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionStringHQReport-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionStringUnitel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionString_168_1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionString_177-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionString_204-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionString_56_1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnectionString_87_1-Web.config Connection String" />
  </ItemGroup>
</Project>